<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Corentin Mace - Website</title>
			<link  rel="stylesheet" href="static/css/aos.css">
			<link rel="stylesheet" href="static/css/main.css">
			<link rel="icon" href="../favicon.jpg">
	</head>
	<body>
		<header>
			<nav>

				<a href="index.ejs">Homepage;</a>
				<a href="project/index.ejs">Project;</a>
				<a href="photo/index.ejs">Photo;</a>
				<a href="contact/index.ejs">Contact;</a>

			</nav>

			<h1 id="page_title" class="page_title">HOMEPAGE</h1>
		</header>
		<main>

			<section id="block1">
				<p></p>
			</section>
		</main>
		<footer id="footer_index">
			<% include ../partials/footer %>
		</footer>
			<% include ../partials/script %>
	</body>
</html>
