<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Corentin Mace - Website</title>

			<link rel="stylesheet" href="../css/main.css">
			<link  rel="stylesheet" href="../css/aos.css">
			<link rel="icon" href="../../favicon.jpg">
	</head>
	<body>
		<header>
			<nav>

				<a href="../index.ejs">Homepage;</a>
				<a href="index.ejs">Project;</a>
				<a href="../photo/index.ejs">Photo;</a>
				<a href="../contact/index.ejs">Contact;</a>

			</nav>
			<h1 id="page_title_project" class="page_title">PROJECT</h1>
		</header>
		<main>

			<section id="block1">
				<p></p>
			</section>
		</main>
		<footer id="footer_project">
			<a target="_blank" href="https://twitter.com/skyyfd"><img src="../static/images/icons/twitter.png" alt=""></a>
			<a target="_blank" href="https://www.instagram.com/skyyfd/"><img src="../static/images/icons/instagram.png" alt=""></a>
			<a target="_blank" href="https://www.facebook.com/CorentinMacePhoto/"><img src="../static/images/icons/facebook.png" alt=""></a>
			<a  href="mailto:corentin.mace@free.fr"><img src="../static/images/icons/mail.png" alt=""></a>
			<a target="_blank" href="https://www.youtube.com/channel/UCYkovYrhSF7_isT7yGxXTmg?view_as=subscriber"><img src="../static/images/icons/youtube.png" alt=""></a>
			<a target="_blank" href="https://github.com/corentinmace"><img src="../static/images/icons/github.png" alt=""></a>
			<% include ../../partials/footer %>
		</footer>
			<% include ../../partials/script %>
	</body>
</html>
